[submodule "contrib/spparks"]
	path = contrib/spparks
	url = https://github.com/idaholab/spparks.git
[submodule "contrib/mytrim"]
	path = contrib/mytrim
	url = https://github.com/idaholab/mytrim.git
[submodule "moose"]
	path = moose
	url = https://github.com/idaholab/moose.git
