[submodule "contrib/spparks"]
	path = contrib/spparks
	url = https://github.com/idaholab/spparks.git
[submodule "contrib/mytrim"]
	path = contrib/mytrim
	url = https://github.com/idaholab/mytrim.git
[submodule "contrib/gsl"]
	path = contrib/gsl
	url = https://github.com/dschwen/gsl.git
