[submodule "contrib/spparks"]
	path = contrib/spparks
	url = https://hpcgitlab.inl.gov/schwd/spparks.git
[submodule "contrib/mytrim"]
	path = contrib/mytrim
	url = http://github.com/idaholab/mytrim.git
