Content:
    - ${ROOT_DIR}/doc/content
    - ${MOOSE_DIR}/framework/doc/content
    - ${MOOSE_DIR}/modules/phase_field/doc/content
    - ${MOOSE_DIR}/modules/tensor_mechanics/doc/content
    - ${MOOSE_DIR}/modules/heat_conduction/doc/content
    - ${MOOSE_DIR}/modules/ray_tracing/doc/content

Renderer:
    type: MooseDocs.base.MaterializeRenderer

Extensions:
    MooseDocs.extensions.navigation:
        name: 'Magpie'
        repo: https://github.com/idaholab/magpie
        home: https://www.mooseframework.org/magpie
        menu:
            Getting Started:
                Installation: 'getting_started/Installation.md'
                Marmot coupling: 'getting_started/Marmot.md'
            # Development:
                #     Capabilities: 'models_capabilities/Capabilities.md'
            Documentation:
                Reference Manual: syntax/index.md
            Development:
                Software Quality: sqa/index.md
                Code Coverage: https://mooseframework.inl.gov/magpie/docs/coverage/

    MooseDocs.extensions.appsyntax:
        executable: ${ROOT_DIR}
        remove:
            framework: !include ${MOOSE_DIR}/framework/doc/remove.yml

    MooseDocs.extensions.common:
        shortcuts: !include ${MOOSE_DIR}/framework/doc/globals.yml

    MooseDocs.extensions.acronym:
        acronyms: !include ${MOOSE_DIR}/framework/doc/acronyms.yml
